language: java

jdk: oraclejdk8

services: redis-server

addons:
  sonarcloud:
    organization: "n4j-github"
  branches:
      - master
      - n4j/sonar-support

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
    
script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar

after_success:
  - bash <(curl -s https://codecov.io/bash)
